@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root{
    --body-color: #344055;
    --first-color:#FAF33E;
    --second-color:  #A7C3F6;
    --third-color: #3BCEAC;
    --light-color: #F7F7F2;
    --medium-color: #272D2D;
    --dark-color: #020402;
    --on-color: #0f0;
    --off-color: #f00;
    --border-color-one: #2EC4B6;
    --border-color-two: #92B4F4;
    --line-trough-color: #757083;
    --border-color: 1px solid #2F2F2F;  
}
*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--body-color);
    display: flex;
    flex-direction: row;
}
h2{
    color: var(--light-color);
}
h3{
    color: var(--light-color);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

input{
    margin-bottom: 15px;
    border-radius: 40px;
    padding: 6px 10px;
    border: 2px solid var(--medium-color);
    background-color: #222;
    outline: none;
    transition: .5s;
}
input:hover{
    background: var(--light-color);
}
button{
    border: none;
}
.container{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.containerNew{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.containerNew input{
    height: 35px;
    width: 100%;
}
.containerInputs{
    padding-left: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.containerBtn{
    display: flex;
    width: 25%;
    flex-direction: column;
}
button{
    outline: none;
    cursor: pointer;
    transition: 600ms ease-out;
}
button i{
    font-size: 20px;
}
#dateInput{
    color: var(--third-color);
    width: 100%;
}
#timeInput{
    color: var(--second-color);
    width: 100%;
}
button#addBtn{
    height: 35px;
    width: 80%;
    border-radius: 20px;
    margin-left: 15%;
    background: var(--border-color-one);
    color: var(--body-color);
}
button#addBtn:hover{
    background: var(--third-color);
    color: var(--light-color);
}
button#sortBtn{
    width: 80%;
    height: 35px;
    border-radius: 20px;
    margin-top: 14px;
    margin-left: 15%;
    background: var(--second-color);
    color: var(--body-color);
    
}
button#sortBtn:hover{
    background: var(--border-color-two);
    color: var(--light-color);
}
#customLabel{
    display: flex;
    position: relative;
    margin: 5px 0;
    cursor: pointer;
}
#customCheckbox{
    appearance: none;
    display: none;
}
#customLabel span{
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    background: #222;
    border-radius: 20px;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
                inset 0 2px 2px rgba(0, 0, 0, 0.2),
                inset 0 -1px 1px rgba(0, 0, 0, 0.2),;
}
#customLabel .indicador{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5),
                inset 0 1px 1px rgba(225, 225, 225, 0.1);
    transition: .5s;
    transform: scale(0.9);
}
#customLabel input:checked ~ .indicador{
    left: 40px;
}
#customLabel .indicador::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--off-color);
    border-radius: 50%;
    box-shadow: 0 0 2px var(--off-color),
                0 0 5px var(--off-color),
                0 0 10px var(--off-color),
                0 0 15px var(--off-color),
                0 0 20px var(--off-color),
                0 0 25px var(--off-color),
                0 0 30px var(--off-color),
                0 0 40px var(--off-color);
transition: .5s;
}
#customLabel input:checked ~ .indicador::before{
    background: var(--on-color);
    box-shadow: 0 0 2px var(--on-color),
                0 0 5px var(--on-color),
                0 0 10px var(--on-color),
                0 0 15px var(--on-color),
                0 0 20px var(--on-color),
                0 0 25px var(--on-color),
                0 0 30px var(--on-color),
                0 0 40px var(--on-color);
}
#incompleto{
    margin-left: -85px;
    z-index: -50;
    padding-left: 20px;
    height: 50px;
    width: 37%;
    border-radius: 40px;
    background: #222;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--light-color);
    font-weight: 300;
}
#incompleto span{
    margin-left: -22px;
    border-radius: 40px;
    background: var(--body-color);
    height: 50px;
    width: 95px;
    transform: scale(.9);
}
.strike{
    text-decoration: line-through;
    color: var(--line-trough-color)!important;
}
table#todoTable{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
td{
    padding: 10px;
}
td.firstColor{
    border-bottom: 3px solid var(--body-color);
    background: var(--medium-color);
    color: var(--light-color);
}
.colorTd{
    background:var(--light-color);/*0B132B*/
    color:var(--dark-color);
    text-align: center;
    border-bottom: 1px solid var(--body-color);
}
.center{
    text-align: center;
}
select{
    border-radius: 3px;
    border: var(--border-color);
    color: var(--dark-color);
}
.eliminar{
    color: var(--second-color);
}
.containerCalendar{
    padding: 0px 5px 15px 0;
    width: 100%;
}
#calendar{
    width: 100%;
}
/*Media queries*/ 

/* 
===================
    MOBILE FIRST 
===================*/
@media (max-width: 767px){
    body{
        flex-direction: column;
    }
    h3{
        margin: 0;
        text-align: center;
        color: var(--light-color);
        margin-bottom: 10px;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 20px;
        font-size: 1em;
    }
    input:hover{
        background: var(--first-color);
        color: var(--dark-color);
    }
    input#dateInput{
        width: 55%;
        height: 40px;
    }
    input#timeInput{
        width: 35%;
        height: 40px;
    }
    .container{
        width: 100%;
        flex-direction: row;
    }
    .containerNew{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .containerInputs input{
        width: 100%;
    }
    .containerInputs{
        padding-left: 0; 
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 70%;
}
    .containerBtn{ 
        padding-left: 0; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
}
    button#addBtn{
        width: 40px;
        height: 40px;
        font-size: 1em;
        padding: 10px; /*top left bottom right*/ 
        text-transform: uppercase ;
        border-radius: 50%;
        outline: none;
        margin-left: 15%;
    }
    button#sortBtn{
        height: 40px;
        width: 50%;
        padding: 10px; /*top left bottom right*/ 
        text-transform: uppercase;
        border-radius: 45px;
        outline: none;
        margin-top: 0;
        margin-left: 0;
    }
span.hide{
    bottom: -30px;
    visibility: hidden;
    }
    tabl#todoTable{
        margin-top: 10px;
        width: 100%;
    }
    th{
        height: 1.5px;
    }
    i{
        font-size: 1.5rem;
    }
}
/*Tablets screen*/
@media screen and (min-width: 768px) and
(max-width: 1023px){
    body{
        flex-direction: column;
    }
    h3{
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .container{
        width: 100%;
        flex-direction: row;
    }
    .containerNew{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .containerNew input{
        width: 47%;
        padding-left: 10px;
    }
    .containerInputs{
        padding-left: 0; 
        width: 50%;
        flex-direction: row;
    }
    .containerBtn{
        padding-left: 3%;
        flex-direction: row; 
        width: 50%;
    }
    #dateInput{
        padding-left: 10px;
        width: 45%;
    }
    #timeInput{
        padding-left: 10px;
        width: 40%;
        margin-left: 30px;
    }
    input{
        padding: 5px;
        color: var(--medium-color);
        font-size: .9rem;
        font-weight: 450;
    }
    button{
    outline: none;
    }
    button span{
        text-transform: uppercase;
        font-size: 15px;
    }
    button#addBtn{
        height: 33px;
        width: 40%;
        border-radius: 20px;
        font-size: 18px;
        margin-left: 0;
    }
    button#sortBtn{
        height: 33px;
        font-size: 18px;
        width: 60%;
        margin-left: 5%;
        margin-top: 0;
        border-radius: 20px;
    }
    table{
        width: 100%;
    }
}
