@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root{
    --body-color: #2b2b2b;
    --nav-color:  #1a252f;
    --nav-border-color: #2C3E50;
    --first-color:#F2FF49;
    --second-color:  #6B9AC4;
    --third-color: #D36582;
    --back-color: #222222;
    --light-color: #F7F7F2;
    --medium-color: #3c3f41;
    --dark-color: #1c1d21;
    --on-color: #0f0;
    --off-color: #f00;
    --border-color-one: #F7567C;
    --border-color-two: #92B4F4;
    --line-trough-color: #8c8c8d;
    --border-color: 1px solid #2F2F2F;  
}
*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--body-color);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
h2{
    color: var(--light-color);
}
.title{
    padding:10px;/*top lef bottom right*/
    background: var(--nav-color);
    border-bottom: 2px solid var(--nav-border-color);
    color: var(--light-color);
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
.title2{
    width: 100%;
}
input{
    margin-bottom: 15px;
    border-radius: 40px;
    padding: 6px 10px;
    border: 2px solid var(--medium-color);
    background-color: var(--back-color);
    color: var(--light-color);
    outline: none;
    transition: .5s;
}
input:hover{
    background: var(--light-color);
    color: var(--dark-color);
}
button{
    margin-bottom: 15px;
    border: none;
    font-size: .9rem;
    text-transform: uppercase;
    border-radius: 20px;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.containerTodo{
    padding-left: 5px;
    padding-right: 5px;
    width: 45%;
    display: flex;
    flex-direction: column;
}
.containerTodo input{
    height: 35px;
    width: 100%;
}
.containerDateTime{
    padding-left: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.containerBtn{
    padding-left: 15px;
    padding-right: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.containerBtn button{
    height: 35px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 600ms ease-out;
    width: 100%;
}
.containerBtn button i{
    font-size: .95rem;
    color: var(--light-color);
}
.containerIncomplete{
    padding: 5px;
    display: flex;
    flex-direction: row;
}
#dateInput{
    color: var(--line-trough-color);
    width: 100%;
}
#timeInput{
    color: var(--line-trough-color);
    width: 100%;
}
#addBtn{
    background: var(--third-color);
    color: var(--light-color);
    width: 100%;
}
#addBtn:hover{
    background: var(--border-color-one);
    color: var(--light-color);
}
#sortBtn{
    background: var(--second-color);
    color: var(--light-color);
    width: 100%;
}
#sortBtn:hover{
    background: var(--border-color-two);
    color: var(--light-color);
}
#customLabel{
    display: flex;
    position: relative;
    margin: 5px 0;
    cursor: pointer;
}
#customCheckbox{
    appearance: none;
    display: none;
}
#customLabel span{
    position: relative;
    display: block;
    width: 70px;
    height: 35px;
    background: var(--dark-color);
    border-radius: 20px;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
                inset 0 2px 2px rgba(0, 0, 0, 0.2),
                inset 0 -1px 1px rgba(0, 0, 0, 0.2),;
}
#customLabel .indicador{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5),
                inset 0 1px 1px rgba(225, 225, 225, 0.1);
    transition: .5s;
    transform: scale(0.9);
}
#customLabel input:checked ~ .indicador{
    left: 35px;
}
#customLabel .indicador::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--off-color);
    border-radius: 50%;
    box-shadow: 0 0 2px var(--off-color),
                0 0 5px var(--off-color),
                0 0 10px var(--off-color),
                0 0 15px var(--off-color),
                0 0 20px var(--off-color),
                0 0 25px var(--off-color),
                0 0 30px var(--off-color),
                0 0 40px var(--off-color);
transition: .5s;
}
#customLabel input:checked ~ .indicador::before{
    background: var(--on-color);
    box-shadow: 0 0 2px var(--on-color),
                0 0 5px var(--on-color),
                0 0 10px var(--on-color),
                0 0 15px var(--on-color),
                0 0 20px var(--on-color),
                0 0 25px var(--on-color),
                0 0 30px var(--on-color),
                0 0 40px var(--on-color);
}
.containerIncomplete{
    margin-left: 5px;
}
.containerIncomplete #incompleto{
    margin-left: -75px;
    z-index: -50;
    padding-left: 20px;
    padding-right: 5px;
    height: 45px;
    width: 100%;
    border-radius: 40px;
    background: var(--back-color);
    text-transform: uppercase;
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--line-trough-color);
    font-weight: 300;
}
.containerIncomplete #incompleto span{
    margin-left: -22px;
    border-radius: 40px;
    background: var(--medium-color);
    height: 43px;
    width: 89px;
    transform: scale(.9);
}
.strike{
    text-decoration: line-through;
    color: var(--line-trough-color)!important;
}
#todoTable{
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
td{
    padding: 10px;
}
td.firstColor{
    border-bottom: 3px solid var(--body-color);
    background: var(--dark-color);
    color: var(--light-color);
}
.colorTd{
    background:var(--light-color);/*0B132B*/
    color:var(--dark-color);
    text-align: center;
    border-bottom: 1px solid var(--body-color);
}
.center{
    text-align: center;
}
select{
    border-radius: 3px;
    border: var(--border-color);
    color: var(--dark-color);
}
.eliminar{
    color: var(--second-color);
}
.containerCalendar{
    width: 100%;
}
.tableCalendar{
    padding-left: 5px;
    padding-right: 5px;
}
#calendar{
    width: 100%;
}
/*Media queries*/ 

/* 
===================
    MOBILE FIRST 
===================*/
@media (max-width: 767px){
    body{
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 20px;
        font-size: 1em;
    }
    input:hover{
        background: var(--first-color);
        color: var(--dark-color);
    }
    #dateInput{
        width: 55%;
        height: 40px;
    }
    #timeInput{
        width: 35%;
        height: 40px;
    }
    .container{
        width: 100%;
        flex-direction: row;
    }
    .containerTodo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .containerDateTime input{
        width: 100%;
    }
    .containerDateTime{
        margin-left: -4px;
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
}
    .containerBtn{ 
        padding-top: 6px;
        padding-left: 5%; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
}
    #addBtn{
        width: 35%;
        height: 40px;
        padding: 7px 10%; /*top left bottom right*/ 
        text-transform: uppercase ;
        border-radius: 45px;
        outline: none;
    }
    #sortBtn{
        height: 40px;
        width: 60%;
        padding: 6px 21%; /*top left bottom right*/ 
        text-transform: uppercase;
        border-radius: 45px;
        outline: none;
    }
    #addBtn i{
        font-size: 1.7rem;
    }
    #sortBtn i{
        font-size: 1.7rem;
    }
    span.hide{
    bottom: -30px;
    visibility: hidden;
    }
    #todoTable{
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        width: 100%;
    }
    th{
        height: 1.5px;
    }
    .containerCalendar{
        margin-top: 5px;
    }
}
/*Tablets screen*/
@media screen and (min-width: 768px) and
(max-width: 1023px){
    body{
        flex-direction: column;
    }
    .container{
        width: 100%;
        flex-direction: row;
    }
    .containerTodo{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .containerTodo input{
        width: 47%;
        padding-left: 10px;
    }
    .containerDateTime{
        padding-left: 5px; 
        width: 50%;
        flex-direction: row;
    }
    .containerBtn{
        padding-left: 3%;
        flex-direction: row; 
        width: 50%;
    }
    #dateInput{
        padding-left: 10px;
        width: 45%;
    }
    #timeInput{
        padding-left: 10px;
        width: 41%;
        margin-left: 30px;
    }
    input{
        padding: 5px;
        color: var(--medium-color);
        font-size: .9rem;
        font-weight: 450;
    }
    button{
    outline: none;
    }
    button span{
        text-transform: uppercase;
        font-size: 15px;
    }
    button#addBtn{
        height: 33px;
        width: 40%;
        border-radius: 20px;
        font-size: 18px;
        margin-left: 0;
    }
    button#sortBtn{
        height: 33px;
        font-size: 18px;
        width: 60%;
        margin-left: 5%;
        margin-top: 0;
        border-radius: 20px;
    }
    table{
        width: 100%;
    }
    #todoTable{
        margin-left: 0;
        margin-right: 0;
    }
}
