:root{
    --body-color: #344055;
    --first-color:#FAF33E;
    --second-color:  #A7C3F6;
    --third-color: #3BCEAC;
    --light-color: #F7F7F2;
    --medium-color: #272D2D;
    --dark-color: #020402;
    --border-color-one: #2EC4B6;
    --border-color-two: #92B4F4;
    --line-trough-color: #757083;
    --border-color: 1px solid #2F2F2F;  
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 7px;
    background: var(--body-color);
}
h3{
    margin-left: 17%;
    color: var(--light-color);
    margin-bottom: 10px;
}

input{
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 6px 10px;
    border: none;
    outline: none;
}
button{
    border: none;
}
.container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.containerNew{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerNew input{
    height: 32px;
    width: 100%;
}
.containerInputs{
    padding-left: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
}
.containerBtn{
    display: flex;
    width: 15%;
    flex-direction: column;
}
button i{
    font-size: 20px;
}
#dateInput{
    width: 100%;
}
#timeInput{
    width: 70%;
}
button#addBtn{
    height: 32px;
    width: 35px;
    border-radius: 50%;
    margin-left: 28.5%;
    background: var(--body-color);
    color: var(--third-color);
    border: 2.7px solid var(--third-color);
}
button#sortBtn{
    width: 70%;
    height: 32px;
    border-radius: 20px;
    margin-top: 20%;
    margin-left: 15%;
    background: var(--body-color);
    color: var(--border-color-two);
    border: 2.5px solid var(--border-color-two);
}
.strike{
    text-decoration: line-through;
    color: var(--line-trough-color)!important;
}
table{
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
}
td{
    padding: 10px;
}
td.firstColor{
    border-bottom: 3px solid var(--body-color);
    background: var(--medium-color);
    color: var(--light-color);
}
.colorTd{
    background:var(--light-color);/*0B132B*/
    color:var(--dark-color);
    text-align: center;
    border-bottom: 1px solid var(--body-color);
}
.center{
    text-align: center;
}
select{
    border-radius: 3px;
    border: var(--border-color);
    color: var(--dark-color);
}
.eliminar{
    color: var(--second-color);
}
button#addBtn:hover{
    background: var(--border-color-one);
    color: var(--light-color);
}
button#sortBtn:hover{
    background: var(--border-color-two);
    color: var(--light-color);
}
button{
    cursor: pointer;
    transition: 600ms ease-out;
}
/*Media queries*/ 

/* 
===================
    MOBILE FIRST 
===================*/
@media (max-width: 767px){
    h3{
        margin: 0;
        text-align: center;
        color: var(--light-color);
        margin-bottom: 10px;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 20px;
        font-size: 1em;
    }
    input:hover{
        background: var(--first-color);
        color: var(--dark-color);
    }
    input[placeholder]::after{
        content: '';
        color: var(--light-color);
        font-style: normal;
        font-weight: 300;
    }
    input#dateInput{
        width: 55%;
        height: 40px;
    }
    input#timeInput{
        width: 35%;
        height: 40px;
    }
    .container{
        width: 100%;
        flex-direction: row;
    }
    .containerNew{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .containerInputs input{
        width: 100%;
    }
    .containerInputs{
        padding-left: 0; 
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 70%;
}
    .containerBtn{ 
        padding-left: 0; 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 30%;
}
    button#addBtn{
        width: 40px;
        height: 40px;
        font-size: 1em;
        padding: 5px; /*top left bottom right*/ 
        text-transform: uppercase ;
        border-radius: 50%;
        outline: none;
        margin-left: 0;
    }
    button#sortBtn{
        height: 40px;
        width: 50%;
        padding: 5px 0 5px 0; /*top left bottom right*/ 
        text-transform: uppercase;
        border-radius: 45px;
        outline: none;
        margin-top: 0;
        margin-left: 0;
    }
    table{
        margin-top: 10px;
        width: 100%;
    }
    th{
        height: 1.5px;
    }
    i{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 768px) and
(max-width: 1023px){
    h3{
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .container{
        width: 100%;
        flex-direction: row;
    }
    .containerNew{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .containerNew input{
        width: 47%;
        padding-left: 10px;
    }
    .containerInputs{
        padding-left: 0; 
        width: 60%;
        flex-direction: row;
    }
    .containerBtn{
        flex-direction: row;
        padding-left: 10%; 
        width: 40%;
    }
    #dateInput{
        padding-left: 10px;
        width: 40%;
    }
    #timeInput{
        padding-left: 10px;
        width: 32%;
        margin-left: 30px;
    }
    input{
        padding: 5px;
        color: var(--medium-color);
        font-size: .9rem;
        font-weight: 450;
    }
    button{
    outline: none;
    }
    button#addBtn{
        height: 40px;
        width: 40px;
        font-size: 18px;
        margin-left: 0;
    }
    button#sortBtn{
        height: 40px;
        font-size: 18px;
        width: 45%;
        margin-left: 5%;
        margin-top: 0;
    }
    table{
        width: 100%;
    }
}
